<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Redefinir Senha</h2>
            <form (ngSubmit)="onSubmit()">
                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Digite seu email" required>
                </div>

                <!-- New Password -->
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Nova Senha</label>
                    <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Digite sua nova senha" required (input)="checkPasswordStrength()">
                    <small id="password-strength" class="form-text" [ngClass]="passwordStrengthClass">{{ passwordStrengthMessage }}</small>
                </div>

                <!-- Confirm New Password -->
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label">Confirmar Nova Senha</label>
                    <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Confirme sua nova senha" required (input)="checkPasswordMatch()">
                    <small id="password-match" class="form-text" [ngClass]="passwordMatchClass">{{ passwordMatchMessage }}</small>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100" [disabled]="!isFormValid()">Redefinir Senha</button>
                <a  [routerLink]="['/principal']"> </a>
            </form>
        </div>
    </div>
</div>
