

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo e nome do site à esquerda -->
      <a class="navbar-brand" href="#" (click)="recarregarPagina()">NEOBANK</a>
  
      <!-- Nome do utilizador e avatar à direita -->
      <div class="ml-auto d-flex align-items-center">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Utilizador
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" >Detalhes</a></li>
            <li><a class="dropdown-item" >Sair</a></li>
          </ul>
        </div>
  

      </div>
    </div>
  </nav>
  