/* Layout principal (lado direito) */
:host {
  flex-grow: 1; /* Expande para ocupar o espaço restante */
  background-color: #ffffff;
  overflow-y: auto; /* Scroll apenas no conteúdo principal */
  padding: 20px;
  height: calc(100vh - 60px); /* Altura total ajustada ao header */
  margin-left: 250px; /* Ajusta espaço para a sidebar */
  margin-top: 60px; /* Para alinhar com o header */
}
